<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        ">
 
 	<context:annotation-config />
	<mvc:annotation-driven />
	<context:component-scan
		base-package="shop.controller" />
	<mvc:default-servlet-handler />
 
 	<mvc:resources mapping="/resources/**" location="/WEB-INF/resources/"  
	cache-period="31556926"/>
 
 	<bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="465" />
		<property name="username" value="daominh7070@gmail.com" />
		<property name="password" value="Trunganh98" />
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="javaMailProperties">
		<props>
			<prop key="mail.smtp.auth">true</prop>
			<prop key="mail.smtp.socketFactory.class">
					javax.net.ssl.SSLSocketFactory</prop>
			<prop key="mail.smtp.socketFactory.port">587</prop>
			<prop key="mail.smtp.starttls.enable">false</prop>
			<prop key="mail.debug">true</prop>
		</props>
		</property>
	</bean>
 
 	<bean id="dataSource"
 		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
 		p:driverClassName="com.mysql.jdbc.Driver"
 		p:url="jdbc:mysql://localhost/salesdb"
 		p:username="root"
 		p:password="">
 	</bean>	
 
 	<bean id="sessionFactory"
 		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
 		<property name="dataSource" ref="dataSource"></property>
 		<property name="hibernateProperties">
	 		<props>
	 			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
	 			<prop key="hibernate.show_sql">false</prop>
	 		</props>
 		</property>
 		<property name="packagesToScan" value="shop.bean"></property>
 	</bean>
 	
 	<bean id="transactionManager"
 		class="org.springframework.orm.hibernate5.HibernateTransactionManager"
 		p:sessionFactory-ref="sessionFactory">
 	</bean>
 	
 	<tx:annotation-driven transaction-manager="transactionManager"/>
 	
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>